mixin img(img__path, img__classname="img-fluid", img__type="true")
  picture
    //- source(type="image/webp" srcset=`/img/${img__path}.webp`)
    if (img__type)
      source(type="image/jpeg" srcset=`/img/${img__path}.jpg`)
      img(class=img__classname src=`/img/${img__path}.jpg` alt="")
    else
      source(type="image/png" srcset=`/img/${img__path}.png`)
      img(class=img__classname src=`/img/${img__path}.png` alt="")


mixin icon(icon__name, icon__classname="icon-fluid")
  svg(class=icon__classname)
    use(xlink:href=`/img/icons/icons.svg#icon-${icon__name}`)

mixin promo(promo__title, promo__desc, promo__bg)
  .promo
    .promo__bg
      +img(`content/top/${promo__bg}`,'promo__cover')
    .wrapper
      .row
        .promo__title.col-md-11.offset-md-1!= promo__title        
        .promo__desc.col-xl-6.col-lg-8.col-md-9.offset-md-1!= promo__desc
      .row
        nav.social.col-xl-3.col-md-4.col-sm-6.col-10.offset-md-1
          a.social__item(href="#")
            +icon('social-wapp','social__icon')
            span.social__title WhatsApp
          a.social__item(href="#")
            +icon('social-tg','social__icon')
            span.social__title Telegram